#tree{
	background: #fff;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 20px; 
}
#tree ul{
	padding-left:18px;
	width: 100%;
}
#tree li{
	width: 100%;
	list-style-type:none;
}
#tree a{
	color: #000;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	height: 25px;
}

#tree a span {
	display: inline-block;
	width: 90%;
	word-wrap: break-word;
}

#tree a.now{
	color: red; 	
}

#tree a:hover{
	text-decoration: none;
	color:green;
}

#tree .fa-minus-square-o, #tree .fa-plus-square-o {
	margin:0 -11px;
	color: green;
}
