// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$navbar-color: #3c3e42;

/* universal */



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.jumbotron {
  text-align: center;
}

/* markdown editor */
#doc-content {
  text-align: left;
  pre {
    li {
      list-style-type: none !important;
      background: #f5f5f5 !important;
    }
    ol {
      padding-left: 5px !important;
    }
  }  
}
// #test-editormd {
  // .CodeMirror {
  //   width: 100% !important;  
  // }
  // .editormd-preview {
  //   width: 0 !important;
  // }
// }

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-align: left;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.navbar-inverse {
  background-color: $navbar-color;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-decoration: none;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
  }
}

#logout {
  cursor: default;
  &:hover {
    background-color: transparent;
  }
}

.flash-message {
  position: relative;
  z-index: 1001; // z-index 要生效必须配套 position
  text-align: center;
}

/* sidebar */

.sidebar {
  width: 300px;
  display: block;
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto; 
  background-color: #fff;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
}

/* main */

.main {  
  margin-left: 300px;
  margin-top: 51px;
  .reference-link { // 解决锚点跳转偏移，被 fexed nav 遮住的问题
    position: relative;
    &::before{
      content: '';
      position: absolute;
      display: block;
      width: 100px;
      height: 71px;
      top: -71px;
    }
  }
}

/* login-page */

.login-page .main, .signup-page .main {
  margin-left: 0;   
  background-color: #fff;
  .panel {
    margin-top: 90px;
  }
}